name: Trunk Code Quality
on:
  workflow_dispatch:
  pull_request:
    branches: main

permissions:
  contents: read

jobs:
  call-workflow-in-another-repo:
    uses: hypermodeinc/.github/.github/workflows/trunk.yml@v1
